html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #6de24f;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  background: #f8f8f8;
  border-radius: 16px;
  width: 624px;
  margin: 16px;
  padding: 32px;
}

.person {
  display: flex;
  align-items: flex-start;
  }

.person__name {
  font-size: 36px;
  margin: 0;
  font-weight: normal;
}

.person__info {
  margin-bottom: 24px;
}

.person__description--margin {
    margin-bottom: 22px;
}
.person__position {
  font-size: 18px;
  color: #545454;
  font-style: italic;
  margin: 0;
}

.person__description {
  font-size: 16px;
  line-height: 22px;
}

.special {
  color: #ed6d05;
  font-weight: normal;
}

.person__link {
  text-decoration: none;
  color: #e20613;
}

.person__picture {
    margin: 32px;
}